.sidebar {
    position: fixed;
    top: 40px;
    left: 0;
    height: 100vh;           /* Full viewport height */
    width: 250px;
    background-color: #0A043C;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;  
    margin-top: 55px;      /* Enable scrolling if content overflows */
  }
  
  
  .sidebar-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .sidebar-link:hover {
    color: #4FC3F7;
  }
  